.EightBall {
  box-shadow: 5px 5px 10px #678;
  margin: 50px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.Button {
  cursor: pointer;
  position: relative;
  left: 105px;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: white;
  display: block;
  font-size: 16px;
  margin-top: 20px;
}
